


th{
    max-width: 5vw;
}

th.header-false{
    /* min-width: 5vw; */
    max-width: 5vw;
}

td{
    max-width: 5vw;
    align-content: center;
}

td img{
    max-height: 100%;
    max-width: 100%;

}


td.table-channel-img-sm div{
    display:grid;
	align-items:center;
	justify-items:center;
}

td.table-channel-img-sm div img{
    border-radius: 50%;
	width: 25%;
}

div.table-container{
    display: flex;
    /* overflow-y: scroll; */
    overflow-x: auto;
}


.table-height-constraint-80vh{
    max-height: 80vh;
}

.flex{
    display: flex;
}


.header{
    position: sticky;
    top: 0;
}


.test{
    height: auto;
}